.en {
    background-image:url('images/app/flags/us.png') !important;
}

.ke {
    background-image:url('images/app/flags/ke.png') !important;
}

.fr {
    background-image:url('images/app/flags/fr.png') !important;
}